div {
    margin-bottom: 1rem;
}
.is-invalid {
    border: 2px solid red;
}
.display-none {
    display:none;
}
.text-danger{
    color: red;
}
input {
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}